<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <!-- <h2 class="mb-2"><%= theme.owner %></h2> -->
    <!-- <p><%= theme.info %></p> -->
    <!-- <p><%= theme.desc %></p> -->
    <div style="display: flex; align-items: center; background-color: #edeef0; padding: 15px; border-radius: 5px">
    <img id = 'profileimg' src = '/images/zxphoto.jpg'></img> <span> <h3>ABOUT ME</h3>My name is Ziqian Xu (徐子谦) and I am a graduate student at the University of Notre Dame studying Quantitative Psychology. My advisor is <a href = 'https://nd.psychstat.org/research/johnny_zhang' target = '_blank'>Professor Johnny Zhang</a> and I am a member of the <a href = 'https://bigdatalab.nd.edu/' target = '_blank'>Lab for Big Data Methodology</a>. </span>
    </div>
    <div style = 'margin-top: 20px;  padding: 15px; border-radius: 5px'>
      <h3> RESEARCH INTERESTS </h3>
      <p>  My research focuses on network data analysis and longitudinal data analysis, with an emphasis on social networks, latent space models, structural equation modeling, and Bayesian methods. Recently, my works have also expanded to include the application of network analysis and longitudinal analysis sin neuroimaging data. </p>
    </div>

    <div class="education-section" style = 'margin-top: 10px;  padding: 15px; border-radius: 5px'>
        <h3>EDUCATION</h3>
      
        <div class="education-item">
          <h4>Ph.D. in Quantitative Psychology</h5>
          <p class="institution">University of Notre Dame, IN, USA <span class="date">Expected May 2026</span></p>
        </div>
      
        <div class="education-item">
          <h4>M.S. in Applied and Computational Mathematics and Statistics</h5>
          <p class="institution">University of Notre Dame, IN, USA <span class="date">May 2024</span></p>
        </div>
      
        <div class="education-item">
          <h4>B.S. in Psychology; B.S. in Computer Science</h5>
          <p class="institution">University of North Carolina at Chapel Hill, NC, USA <span class="date">May 2021</span></p>
        </div>
    </div>

    <!-- <div style = 'margin-top: 10px;  padding: 15px; border-radius: 5px'>
      <h3>HOBBIES</h3>
    <ul>
      <li></li>
    </ul> -->
    </div>


    

  </div>
</div>

<!-- <h3>Recent Posts</h3>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %> -->

<!-- <h4> <a href="<%= config.root %>archives">All Posts</a></h4> -->
