<div class="row">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <!-- <h2 class="mb-2"><%= theme.owner %></h2> -->
    <!-- <p><%= theme.info %></p> -->
    <!-- <p><%= theme.desc %></p> -->
    <div style="display: flex; align-items: center;">
    <img style = 'border-radius: 50%; width: 100px; margin-right: 10px;' src = 'https://media.licdn.com/dms/image/v2/D5603AQHkTSfr12QglQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1725026282486?e=1750896000&v=beta&t=el33I_H5euOJ1aXnVxpm1fLCD2TghPYTtAkupwk5cG4'></img>
    <span>徐子谦 Ziqian Xu</span>
    </div>
     <p> I am a current graduate student at the University of Notre Dame studying Quantitative Psychology. My research interest mainly lies in social network analysis and longitudinal data analysis. I am also interested in various data visualization techniques and machine learning. <p>
      <p>我是圣母大学量化心理的研究生，对社会网络分析以及纵向数据分析感兴趣。我也希望可以学习更多机器学习以及数据可视化的内容。</p>

  </div>
</div>

<!-- <h3>Recent Posts</h3>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

  <div class="three columns left lit">
    <p class="bottom"><%- full_date(post.date, 'll') %></p>
  </div>
  <div class="nine columns left mb-3">
    <a href="<%- url_for(post.path) %>" >
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
    </a>
  </div>
</div>
<% }) %> -->

<!-- <h4> <a href="<%= config.root %>archives">All Posts</a></h4> -->
